/*************************************** 全局样式 ****************************/
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}

.btn-resigner { 
    color: #FFFFFF; 
    background-color: #0AB4F7; 
    border-color: #FFFFFF; 
  } 
   
  .btn-resigner:hover, 
  .btn-resigner:focus, 
  .btn-resigner:active, 
  .btn-resigner.active, 
  .open .dropdown-toggle.btn-resigner { 
    color: #FFFFFF; 
    background-color: #086DF2; 
    border-color: #FFFFFF; 
  } 
   
  .btn-resigner:active, 
  .btn-resigner.active, 
  .open .dropdown-toggle.btn-resigner { 
    background-image: none; 
  } 
   
  .btn-resigner.disabled, 
  .btn-resigner[disabled], 
  fieldset[disabled] .btn-resigner, 
  .btn-resigner.disabled:hover, 
  .btn-resigner[disabled]:hover, 
  fieldset[disabled] .btn-resigner:hover, 
  .btn-resigner.disabled:focus, 
  .btn-resigner[disabled]:focus, 
  fieldset[disabled] .btn-resigner:focus, 
  .btn-resigner.disabled:active, 
  .btn-resigner[disabled]:active, 
  fieldset[disabled] .btn-resigner:active, 
  .btn-resigner.disabled.active, 
  .btn-resigner[disabled].active, 
  fieldset[disabled] .btn-resigner.active { 
    background-color: #0AB4F7; 
    border-color: #FFFFFF; 
  } 
   
  .btn-resigner .badge { 
    color: #0AB4F7; 
    background-color: #FFFFFF; 
  }

  @font-face {
    font-family:cg;
    src:url(../fonts/lk.eot),
    url(../fonts/lk.svg),
    url(../fonts/lk.ttf),
    url(../fonts/lk.woff)
  }

  [class^="icon-"],
  [class*=" icon-"]{
      font-family:cg;
      font-style: normal;
  }


  #cg_abort .top,#cg_hot .top,#cg_link .top{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
  }




/*************************************** 全局样式 ****************************/




/*************************************** 头部样式 ****************************/


#cg_header .top-bar{
    height: 40px;
    line-height: 39px;
    border-bottom: 1px solid#e0e0e0 ;
}


#cg_header .top-bar .row>div+div{
    border-left: 1px solid #e0e0e0;
}                            
#cg_header .top-bar .row .top-bar-1 a{
    position:relative;
}

#cg_header .top-bar .row .top-bar-1 a img{
    position: absolute;
    top: 15px;
    left:50%;
    margin-left:-65px;
    display: none;
    z-index:99999;
}

#cg_header .top-bar .row .top-bar-1 a:hover img{
    display: block;
}

.icon-phone::before{
    content: '\e958';
    font-size: 13px;
}

#cg_header .navbar-cg{
  background-color: #fff;
  /* border-bottom: 0 0 1px; */
  margin-bottom: 0;
  
}

#cg_header .navbar-cg .navbar-brand{
  height:70px;
  padding: 10px 15px;
}

#cg_header .navbar-cg .navbar-nav a{
  height:70px;
  line-height:40px;
}

#cg_header .navbar-cg .navbar-nav li.active a,
#cg_header .navbar-cg .navbar-nav a:hover
{
  background-color: transparent;
  border-bottom: 2px solid #0AB4F7;
}

#cg_header .navbar-cg .navbar-header .navbar-toggle{
  margin-top: 15px;
}



/*************************************** 头部样式 ****************************/


/*************************************** 轮播图样式 ****************************/

#cg_banner .carousel-inner .item{
  background:no-repeat center center;
  background-size:cover;
}



@media screen and (min-width: 800px){
  #cg_banner .carousel-inner .item{
    height: 410px;
  }
}



/*************************************** 轮播图样式 ****************************/

/*************************************** 关于我们样式 ****************************/

#cg_abort{
  padding:15px 0;
}


#cg_abort .container .row p{
  font-size: 14px;
  line-height: 26px;
}

/*************************************** 关于我们样式 ****************************/

/*************************************** 产品特色样式 ****************************/
#cg_product{
  padding: 30px;
  background:#f0f0f0;
}

#cg_product .nav-tabs li a{
  font-size:18px;
  color:#999;
  border:none;
}
#cg_product .nav-tabs li.active a{
  color:#000;
  background:transparent;
  border-bottom:2px solid #0AB4F7;
}

#cg_product .tab-content{
  padding-top:20px;
}
#cg_product .tab-content .tab1-left{
  padding:40px 0;
}
#cg_product .tab-content .tab1-left .media-body{
  padding-top:100px;
}
#cg_product .tab-content .tab1-left .breadcrumb{
  background:transparent;
}

#cg_product .tab-content #vip .col-md-8{
  margin-top:100px;
}



/*************************************** 产品特色样式 ****************************/


/*************************************** 热门课程样式 ****************************/
#cg_hot .media-left{
  width:20%;
}
#cg_hot .media-body{
  width:60%;
  vertical-align: middle;
}
#cg_hot .media-right{
  width:20%;
  font-size:18px;
  vertical-align:middle;
}
#cg_hot .lesson{
  padding:15px 0;
}
/*************************************** 热门课程样式 ****************************/

/*************************************** 友情链接样式 ****************************/

#cg_link .logos{
  list-style:none;
  text-align:center;
}
#cg_link .logos>li{
  
  display:inline-block;
  padding:30px;
}



/*************************************** 友情链接样式 ****************************/

/*************************************** 尾部样式 *******************************/
#cg_footer{
  height:190px;
  /* padding-top:20px; */
  background:no-repeat center;
  background-image: url('/imgs/ft_bg.png');
  color:#fff;
}

#cg_footer .left,#cg_footer .middle{
  height:170px;
  border-right:1px solid #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cg_footer .left ul{
  list-style:none;
}
#cg_footer .left ul>li{
  line-height:40px;
  padding:5px;
}

#cg_footer .container .right{
  height:170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

/*************************************** 尾部样式 *******************************/
